/* Add this to your existing CSS or create a new stylesheet */
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    /* Ensures that the tooltip doesn't interfere with mouse events on the underlying elements */
    opacity: 0;
    transition: opacity 0.3s;
    /* Add a smooth transition effect */
}

.flag-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #d2cdcd;
}

.flag-image #info {
    padding: 20% 0%;
    font-size: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-timing-function: ease-in-out;
    background-color: #ffffff75;
    height: 100%;
}

.flag-image #info #title {
    font-size: 300%;
    margin: 0;
}

.flag-image #info div {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.flag-image #info p {
    padding: 5px;
    margin: 0;
}

/* Add any additional styles you need */